body{

    background-color: #999999;
}

form{

    width:50%;
    margin-left:25%;
    background-color: #bbbbbb;
}

table{

    border:1;
    width:50%;
    margin-left:25%;
    background-color: #bbbbbb;
}

a{
    display: block;
    color: blue;
    margin-left:5%;
    margin-bottom:2.5%;    
}
.NavImage{

    height:50px;
    width:50px;    
}